.venv/
__pycache__/
.ipynb_checkpoints/
tmp/
*.tmp
*.log
data/raw/**
!data/raw/README.md
.pptx-build/
.chart-data-*/
*.zip

relatorio/sn-article.aux
relatorio/sn-article.bbl
relatorio/sn-article.blg
relatorio/sn-article.fdb_latexmk
relatorio/sn-article.fls
relatorio/sn-article.synctex.gz